.gradient-wrap {
    background: $gradient-supersoft;
    border-radius: 0px 0px 12px 12px;
    position: relative;
    margin-top: -1px;

    &::before,
    &::after {
        position: absolute;
        content: '';
        height: 10px;
        border-radius: 0px 0px 12px 12px;
    }

    &::before {
        left: 20px;
        bottom: -10px;
        width: calc(100vw - 40px);
        background-color: $white-blue;
    }

    &::after {
        left: 40px;
        bottom: -20px;
        width: calc(100vw - 80px);
        background-color: $deep-white-blue;
    }
}

@media (min-width: 1440px) {
    .gradient-wrap {
        margin-top: -2px;
    }
}