.h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $main;
    margin: 30px 0;

    &--dark {
        color: $white;
    }
}

@media (min-width: 768px) {
    .h2 {
        font-size: 38px;
        line-height: 46px;
        margin-top: 60px;

        &--dark {
            font-size: 30px;
            line-height: 37px;
        }
    }
}

@media (min-width: 992px) {
    .h2 {
        margin-top: 0;
    }

    .about-us {
        & .h2 {
            margin-top: 10px;
        }
    }
}

@media (min-width: 1440px) {
    .about-us {
        .h2--dark {
            margin-top: 45px;
        }    
    }
}