.menu-btn {
    width: 32px;
    height: 32px;
    background-image: url('../img/menu-btn.svg');
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: -3px;

    &:active {
        background-color: $grey-bg-separator;
        border-radius: 8px;
    }

    &--dark {
        background-image: url('../img/menu-btn-dark.svg');
    }
}

@media (min-width: 768px) {
    .menu-btn {
        display: none;
    }
}